* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  background: #f7f7f7;
  color: #222;
  transition: background 0.5s ease, color 0.5s ease;
}

body.dark {
  background: #121212;
  color: #f5f5f5;
  transition: background 0.5s ease, color 0.5s ease;
}
.conteiner {
  display: flex;
  gap: 100px;
}
form {
  width: 381px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

input {
  padding: 16px 11px;
  width: 100%;
  border-radius: 10px;
}

.box2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.expDate {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.date {
  width: 170px;
  display: flex;
  gap: 12px;
}

.dateText {
  width: 80px;
  border-radius: 10px;
}

.cvc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

button {
  background-color: #21092f;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

.card,
.card2 {
  width: 447px;
  height: 245px;
  background-color: #610595;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 32px 28px; */
  border-radius: 10px;
}

.card2 {
  margin-top: 80px;
  margin-left: 80px;
  background-color: #663484;

  display: flex;
  justify-content: end;
  align-items: end;
}
.card2 p {
  background-color: grey;
  padding: 0px 60px;
  height: 50px;
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.circle {
  display: flex;
  gap: 15px;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 64px;
}

.big {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: white;
}

.small {
  width: 21.15px;
  height: 21.15px;
  border-radius: 50%;
  border: 1px solid white;
}

.cardNum {
  width: 372px;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  color: white;
  line-height: 100%;
  letter-spacing: 3.42px;
}

.cardName {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: white;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
}
